* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 550px;
  height: 450px;
  border: 10px solid black;
  background-color: rgb(175, 175, 175);
  
}
.show {
  width: 95%;
  height: 25%;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 50px;
  background-color: rgb(24, 78, 10);
  outline: none;
  border: none;
  padding: 10px;
  color: white;
}
.operate-num {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: 65%;
  background-color: rgb(221, 221, 221);
  margin-top: 10px;
  border-radius: 10px;
}
.operate-num > div {
  display: flex;
  width: 95%;
  height: 23%;
  margin: 2px;
}
.operate-num > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 100%;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 30px;
  margin: 0px 2px 2px 0px;
  font-family: sans-serif;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}
.operate-num > div > div:hover {
background-color: rgb(46, 46, 46);
}
